<div class="row">
  <h3>Existing Contacts</h3>
  <div class="col-md-12">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th><i class="fa fa-id-card"></i> ID</th>
        <th><i class="fa fa-user"></i> Name</th>
        <th><i class="fa fa-envelope"></i> Email</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="contact in contacts">
        <td>{{ contact.contact_id }}</td>
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" ng-click="refresh_contacts()">Refresh</button>
  </div>
</div>

<div class="row">
  <h3>Upload CSV</h3>
  <div class="row">
    <div class="col-md-8">
      <input class="btn btn-default" type="file" nv-file-select uploader="uploader"/><br/>
    </div>
    <div class="col-md-4" align="right">
      <button class="btn btn-primary" ng-click="uploader.queue[0].upload()">Upload</button>
    </div>
  </div>
  <div class="row" ng-if="contacts_candidates.length >= 1"=>
    <div class="col-md-2">
      <h4></h4>
      <button class="btn btn-primary" ng-click="add_contacts()">Add Contacts</button>
    </div>
    <div class="col-md-10">
      <h4>Contact Candidates</h4>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th><i class="fa fa-user"></i> Name</th>
          <th><i class="fa fa-envelope"></i> Email</th>
          <th><i class="fa fa-cogs"></i> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contact_candidate in contacts_candidates">
          <td>{{ contact_candidate.name }}</td>
          <td>{{ contact_candidate.email }}</td>
          <td>
            <span><i class="fa fa-lg fa-plus-square" style="color:green" ng-click="accept_candidate(contact_candidate.email)"></i></span>
            <span></span>
            <span><i class="fa fa-lg fa-minus-square" style="color:red" ng-click="reject_candidate(contact_candidate.email)"></i></span>
            <!--<i class="fa fa-times-circle-o"></i>-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
